<nav class="navbar navbar-expand-lg navbar-dark bg-dark cmlMenu-bg">
    <a class="navbar-brand" href="#">Classic Music Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleMusic" aria-controls="navbarToggleMusic" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
    <div class="collapse navbar-collapse" id="navbarToggleMusic">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/albums/">Albums, Titles
            
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/editorials/">Editorials
              
            </a>
          </li>
          <li class="nav-item dropdown float-right">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Switch Users
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" (click) = "onSwitchUser(false)">Guest</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click) = "onSwitchUser(true)" >Admin</a>              
            </div>
          </li>
      </ul>
      <span class="navbar-text float-left">
        Welcome {{currentUser}}!
      </span>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>  -->
    </div>
  </nav>